asgiref==3.3.1
Django==3.1.7
django-cors-headers==3.7.0
django-filter==2.4.0
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
flake8==3.9.0
importlib-metadata==3.7.3
Markdown==3.3.4
mccabe==0.6.1
Pillow==8.1.2
psycopg2==2.8.6
pycodestyle==2.7.0
pyflakes==2.3.0
PyJWT==1.7.1
pytz==2021.1
sqlparse==0.4.1
typing-extensions==3.7.4.3
zipp==3.4.1
